
.projects {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15em, 1fr));
  gap: 1.5rem;

  
  grid-auto-rows: max-content;
}


@supports (grid-template-rows: subgrid) {
  .projects article {
    display: grid;
    grid-template-rows: subgrid; 
    grid-row: span 3;            
    gap: 0.75rem;
  }
}

@supports not (grid-template-rows: subgrid) {
  .projects article {
    display: grid;
    grid-auto-rows: max-content;
    gap: 0.75rem;
  }
}


.projects article {
  background: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 1rem;
}

.projects h2 {
  margin: 0;           
  font-size: 1.1rem;
}

.projects img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

.projects p {
  margin: 0;
}


:is(h1, h2, h3, h4, h5, h6) {
  line-height: 1.1;
  text-wrap: balance;
}

h1 {
  font-size: 400%;
  margin: 0.25em 0 0.5em;
}

#projects-pie-plot {
  max-width: 20rem;
  margin-block: 2rem;
  overflow: visible;
}
